@charset "UTF-8";
/*Posicionar con flex*/
/*Menú navegación*/
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important;
  color: #000 !important; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw; }
  .menu__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw; }
