@charset "UTF-8";
/*Menú navegación*/
* {
  margin: 0;
  padding: 0; }

main {
  padding: 0 5vw; }

section {
  padding: 5vh 0; }

h3 {
  font-size: 1rem !important; }

a {
  text-decoration: none !important;
  color: #000 !important; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0; }
  .menu__options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0; }

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0; }
  .hero__img-container {
    flex-basis: 40%; }
    .hero__img-container img {
      width: 100%; }

.categories__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px; }
  .categories__container__item__img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0; }

.near__grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px; }

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0; }
  .app__info {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0; }
    .app__info__stores {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem; }
  .app__images {
    flex-basis: 50%; }

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0; }

.menu {
  padding: 5vh 5vw; }
  .menu__options {
    width: 50vw; }

.categories__title {
  text-align: center;
  padding-bottom: 5vh; }

.categories__container {
  max-width: 600px;
  margin: 0 auto; }
  .categories__container__item {
    text-align: center; }
    .categories__container__item__img-container {
      width: 90px;
      height: 90px;
      padding: 15px;
      border-radius: 50%;
      overflow: hidden;
      background-color: gray;
      margin: 0 auto; }
      .categories__container__item__img-container img {
        max-width: 100%;
        object-fit: cover; }

.hero__call-to-action {
  text-align: center; }

.near__grid__card__img-container {
  width: 250px;
  height: 130px;
  background-image: url(../img/ejemplo-card.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.app__info__text {
  text-align: center; }

.footer {
  margin: 10vh 0; }
  .footer__columns__column__title {
    margin-bottom: 1rem; }
  .footer__columns__column p {
    margin-bottom: 0.3rem; }
