///Inicializa a 0 los margenes y paddings
* {
    margin: 0;
    padding: 0;
}

///Estilos por defecto de las etiquetas html
footer,
aside,
section {
    padding: 10vh 0;
    padding-left: 5vw;
    padding-right: 5vw;
}

h2 {
    padding-bottom: 5vh;
}

h3 {
    font-size: $font-size-normal;
}

a {
    text-decoration: none !important;
    color: #000 !important;
}
