$primary-color: #FFC244;
$secondary-color: #23A57A;
$tertiary-color: #1D1D1D;


$font-size-xxxl: 58px !important;
$font-size-xxl: 48px !important;
$font-size-xl: 28px !important;
$font-size-l: 20px !important;
$font-size-normal: 1rem !important;

