.footer {
    margin-top: 10vh;
    color: white;
    background-color: $tertiary-color;

    &__columns {
        &__column {
            &__title {
                margin-bottom: 1rem;
            }
            p{
                margin-bottom: 0.3rem;
            }
        }

    }
}
