.footer {
    color: white;
    background-color: $tertiary-color;

    &__columns {
        &__column {
            &__title {
                margin-bottom: 1rem;
            }
            p{
                margin-bottom: 0.3rem;
            }
        }

    }
}

.footer__wabe {
    height: 66.6px;
    margin-top: 10vh;
    
    img {
        height: 100%;
        width: 100%;
    }
}
