.heading {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    text-align: center;
    &-text {
        // font-family: $font-family;
        // font-size: size(x1);
        font-weight: lighter;
        letter-spacing: 0.5rem;
    }
}