.menu--detail,
.menu {
    padding: 5vh 5vw;
    min-height: 100px;
    background-color: $primary-color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    &__logo {
        width: 10%;
    }

    &__options {
        width: 58vw;

        &__search {
            width: 50%;
            height: 40px;
            border-radius: 18px;
            border: none;
            padding: 5px 20px;

            &:focus {
                outline: none;
            }

            &::placeholder {
                text-align: center;
            }
        }

        &__button {
            width: 15%;
            color: white;
            height: 40px;
            border-radius: 18px;
            border: none;
            background-color: $secondary-color;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.5s;
        }

    }
}

.menu--detail {
    min-height: 200px;
}