.near {
    &__grid {

        .places__grid__card__img-container {
            width: 250px;
        }

        &__card {
            &__img-container {
                width: 250px;
                height: 130px;
                background-image: url(../img/ejemplo-card.avif);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    }
}