///Layout del hero de la home
.hero {
    @include flexposition(row, center, center, wrap);

    &__img-container {
        flex-basis: 50%;

        img {
            width: 100%;
            max-height: 450px;
        }
    }

    &__call-to-action {
        flex-basis: 50%;
    }
}