.first-nav {
    grid-column: 6 / 10;
    grid-row: 1 / 2;
    @include navigation();
    // @include response(x1) {
    //     grid-column: 6 / 10;
    // }

    // @include response(lg) {
    //     grid-column: 5 / 10;
    // }

    // @include response(md) {
    //     grid-column: 4 / 10;
    // }

    // @include response(sm) {
    //     grid-column: 2 / 10;
    // }
}

.second-nav {
    grid-column: 4 / 7;
    grid-row: 3 / 4;
    @include navigation();
    // @include response(x1) {
    //     grid-column: 6 / 10;
    // }

    // @include response(lg) {
    //     grid-column: 5 / 10;
    // }

    // @include response(md) {
    //     grid-column: 2 / 9;
    // }

    // @include response(sm) {
    //     grid-column: 1 / 10;
    // }
}